@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/bebasneue-regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/bebasneue-bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/bebasneue-book.otf);
    font-weight: 300;
}

body {
    overflow-x: hidden;
    background-color: #fff;
    color: #636363;
}

p {
    margin-left: 35px;
    margin-right: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

a,
a:focus,
a:hover,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
    /*color: #25B275;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'BebasNeue', 'Open Sans', sans-serif;
    font-weight: bold;
    color: #fff;
}

br {
        line-height: 200%; 
}




/* Navbar section */

/* hamburger icon */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #636363;
}

.navbar-default .navbar-toggle {
    border-color: #636363;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgb(97, 184, 187);
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #61b8bb;
    /*background-color: #61b8bb;*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #636363;
    background-color: transparent;
}

.navbar-nav>li>a {
    padding: 22px 25px 0px;
}

.navbar {
    text-transform: uppercase;
    font-family: 'BebasNeue', 'Open Sans', sans-serif;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    padding: 22px 15px 0px;
}

.navbar-default {
    background-color: #000;
    padding-bottom: 0px;
    padding-top: 0px;

}

.navbar a:focus {
    outline: 0;
}


.navbar-nav {
    margin: 0px -15px 18.75px;
}

.navbar .navbar-nav {
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'BebasNeue', sans-serif;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}


/* Landing page section */

header {
    text-align: center;

}

/* Stretch image to fit window */
.img-responsive.img-stretch, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

#landing-page h1 {
    padding-bottom: 0px;
    font-size: 8.25vw;
    text-align: center;
    white-space: nowrap;
}

#landing-page hr {
    width: 65%; 
    height: 5px;
    margin-top: 0px;
    margin-bottom: 32px;
    background: #fff;
}

#landing-page h3 {
    font-weight: 300;
    font-size: 2.5vw;
    margin: 0px;
}

/* Text over image */
.wrap {
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
    overflow: hidden;
}

#landing-page #elliot {
    position: absolute;
    top: 0px;
    z-index: 1000;
}

#landing-page .tag {
   position: absolute;
   left: 25%;
   top: 20%;
   padding: 3%;
   width: 50%;
   background-color: rgba(55, 170, 220, 0.7);
   border: 5px solid white;
}

/*About section*/
section#about{
    padding: 0px;
}

#about h1 {
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20px;
    color: #000;
}

#about p {
    text-align: center;
}

#about .img-responsive {
    padding-top: 50px;
}

/* Resume section*/

#resume {
    background-color: #000;
}

#resume h4 {
    color: #fff;
    text-align: left;
}

/*#resume #work-exp {
    margin-left: 90px;
}*/

#resume #dates {
    width: 25%;
}

.description p {
    padding-top: 10px;
}

.description {
    width: 75%;
}

#resume p {
    text-align: left;
    margin-left: 0px;
    margin-right: 82px;
    color: #fff;
}

#resume hr {
    margin-left: 0px;
}


#resume .rectangle p {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    text-align: center;
    font-family: "BebasNeue";
    font-weight: normal;
    color: #000;
    font-size: 16px;
}

#resume .row {
    margin-left: 50px;
    margin-right: 50px;
}

#resume br {
    line-height: 100%;
}

.rectangle {
    width: 100px;
    height: 80px;
    background: #fff;
    color: #000;
    margin-left: 90px;
    z-index: 1000;
    position: relative;
}

.vertical-line {
    width: 2px;
    height: 420px;
    background: #fff;
    position: absolute;
    left: 50%;
    z-index: -2;
}

#resume .skills {
    padding-left: 53px;
}

#resume .design-dev h4 {
    padding-left: 0px;
}

#resume-cta {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#resume h1 {
    text-transform: none;
    margin-top: 80px;
}

#resume h4 {
    font-weight: normal;
}

#resume .company {
    font-weight: 300;
    display: inline;
}

#resume .container {
    padding-bottom: 80px;
}

.parent {
    position: relative;
}

#stats {
    margin-top: 20px;
}

#stats hr {
    position: absolute;
    top: 15px;
    color: #fff;
}

#stats p {
    margin-bottom: 30px;
}

#stats hr.skill-percent {
    border-top: 3px solid;
    top: 14px;
    animation: loading .7s linear;
}


@keyframes loading {
    0% { 
        width: 0%; 
    }
}

#stats hr.ms-word {
    width: 100%;
    color: #2E5FA0;
}

#stats hr.powerpoint {
    width: 100%;
    color: #f26522;
}

#stats hr.excel {
    width: 70%;
    color: #227248;
}

#stats hr.hubspot {
    width: 60%;
    color: #fff200;
}

#stats hr.raiser {
    width: 80%;
    color: #ed1c24;
}

#stats hr.wordpress {
    width: 75%;
    color: #630460;
}

#stats hr.photoshop {
    width: 90%;
    color: #7cc576;
}

#stats hr.illustrator {
    width: 70%;
    color: #ff00ff;
}

#stats hr.indesign {
    width: 75%;
    color: #f7941d;
}

#stats hr.htmlcss {
    width: 80%;
    color: #fff568;
}

#stats hr.javascript {
    width: 60%;
    color: #00a99d;
}

#stats hr.python {
    width: 80%;
    color: #de5252;
}

/* Contact section */
#contact {
    background-color: #000;
    padding: 0px;
}

#contact h2 {
    font-size: 8.25vw;
}

#contact p {
    color: #fff;
}

#contact-button {
    background-color: #fff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
}

#contact-button h3{
    padding: 5px 30px;
    color: #000;
}

#contact-button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#contact-button:hover {
    background-color: #61b8bb; /* Green */
    color: white;
}

#contact .tag {
   float: left;
   position: absolute;
   left: 25%;
   top: 25%;
   width: 50%;
   z-index: 1000;
   padding: 5px;
   font-weight: bold;
}

/* Footer section - around the web*/

footer {
    background-color: #000;
}

footer .row {
    padding-top: 10px;
}

.btn-primary {
    background-color: rgba(55, 170, 220, 0.7);
    border: none;
}

.btn-primary:focus {
    background-color: rgba(55, 170, 220, 0.7);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
    background-color: rgb(97, 184, 187);
    border-color: rgb(97, 184, 187);
}

.btn {
    display: block;
    width: 20%;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.btn-social {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    font-size: 22px;
}

a.btn-social {
    color: #000;
}

.btn-social:hover,
.btn-social:active,
.btn-social.active {
    background-color: rgb(97, 184, 187);
    border-color: rgb(97, 184, 187);
}


.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

@media(max-width: 1199px) {
    /* landing page section */
    #landing-page #digi-mark {
        position: absolute;
        right: 33%;
        padding: 0px 15%;
    }

    #landing-page #web-dev {
        position: absolute;
        left: 40%;
        padding: 0px 20%;
    }

    #landing-page .tag {
        padding-bottom: 9%;
    }

    /* about me section */
    #about h1 {
        padding-top: 15%;
    }

    #contact .tag {
       top: 20%; 
    }

    /*resume section */
    .vertical-line {
    height: 530px;
    }
}

@media(max-width: 991px) {
    /*about me section*/
    #about .img-responsive {
        padding-top: 20px;
        width: 150%;
        max-width: none;
        position: relative;
        right: 70px;
    }

    #about h1 {
        padding-bottom: 5px;
        padding-top: 20%;
    }

    /*resume section*/
    #resume .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    #resume p {
        margin-right: 0px;
    }

    .rectangle {
        margin-left: 0px;
    }
/*
    #resume #work-exp {
        margin-left: 0px;
    }
*/
    #resume .skills {
        padding-left: 15px;
    }

    #resume .design-dev {
        padding-right: 15px;
    }

}

@media(max-width: 860px) {
    #landing-page img{
        min-width: 860px;
        position: relative;
        left: 50%;
        margin-left: -430px;
    }

    /*contact section*/
    #contact img {
        min-width: 860px;
        position: relative;
        left: 50%;
        margin-left: -430px;
    }

    #contact .tag {
        width: 430px;
        position: relative;
        left: 50%;
        margin-left: -220px;
        margin-top: -290px;
    }
}

@media(max-width: 767px) {
    #about .img-responsive {
        width: 40%;
        margin: auto;
        right: 0px;
        padding-top: 0px;
    }

    #landing-page .tag {
        top: 25%;
    }

    #about h1 {
        padding-top: 0px;
        margin-top: 80px;
    }
}

@media(max-width: 700px){
    /* landing page section */
    #landing-page h1{
        font-size: 57.75px;
    }

    #landing-page hr {
        width: 193.5px;
    }

    #landing-page h3{
        font-size: 17.5px;
    }

    #landing-page .tag {
        width: 350px;
        height: 228px;
        position: relative;
        left: 50%;
        margin-left: -175px;
        margin-top: -435px;
    }

    #landing-page .wrap {
        height: 424px;
    }

    /*resume section*/
    .job-desc {
        display: none;
    }


    .vertical-line {
        height: 322px;
    }

    #resume .rectangle p {
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 10px;
    }

    .company {
        display: block;
    }

    #resume .skills {
        padding-left: 15px;
    }

    #resume .design-dev {
        padding-right: 15px;
    }

    #resume .company {
        display: block
    }

    .rectangle {
        top: -15px;
    }

    #work-exp {
        top: -15px;
        margin-top: 25px;
    }

}

@media(max-width: 500px) {
    .rectangle {
        width: 80px;
        min-width: 55px;
    }
}

@media(max-width: 374px) {
    #resume h4 {
        font-size: 16px;
    }

    #resume p {
        font-size: 11px;
    }

}

@media(max-width: 430px){
    .job-column {
        left: 20px;
    }
}

@media(max-width: 370px){
    #landing-page .tag {
        width: 268px;
        margin-left: -134px;
    }
}

@media(min-width: 992px){
    #work-exp {
        left: 90px;
    }
}


